<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Temperature form page</title>
</head>
<body>
	<h1>Add new temperature record</h1>
	
	<form action="#" th:action="@{/processForm}" th:object="${temperatureChecker}" method="post">
		<div>
		
					<label>Start date</label>
			<input type="date" th:field="*{date}">
		</div>
				
		<div>
			<label>#1 fridge tempetature: </label>
			<input type="text" th:field="*{firstFridgeTemperature}">
		</div>
		
		<div>
			<label>#2 fridge tempetature: </label>
			<input type="text" th:field="*{secondFridgeTemperature}">
		</div>
		
		<div>
			<label>#3 fridge tempetature: </label>
			<input type="text" th:field="*{thirdFridgeTemperature}">
		</div>
		
		<div>
			<label>#4 fridge tempetature: </label>
			<input type="text" th:field="*{fourthFridgeTemperature}">
		</div>
		
		<div>
			<label>#5 fridge tempetature: </label>
			<input type="text" th:field="*{fifthFridgeTemperature}">
		</div>	
			
		<div>
			<label>Name</label>
			<input type="text" th:field="*{whoCheckedTemperature}">
		</div>
		
		<div>
			<input type="submit" value="Submit">
		</div>
	</form>

</body>
</html>