<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Monthly Probe record page</title>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>

</head>
<body>
	<div class="container col-lg-6 col-md-12 col-sm-12">
		<div class="text-center">

			<h1>Monthly probe record</h1>
		</div>







		<form action="#" th:action="@{/processMonthlyProbeForm}"
			th:object="${monthlyProbe}" method="post">


			<div class="form-group">
				<input type="hidden" class="form-control" th:field="*{id}">
			</div>


			<div class="form-group">
				<div class="alert alert-danger" role="alert"
					th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
				<label>Date: </label> <input type="date" class="form-control"
					th:field="*{date}">
			</div>

			<div class="form-group">
				<label>Reading in iced water: </label> <input type="text"
					class="form-control" th:field="*{readingInLeedWater}">
			</div>
			
			
			
			<div class="form-group">
				<label>Reading in boiling water: </label> <input type="text"
					class="form-control" th:field="*{readingInBoilingWater}">
					
					
					
			</div>
			<div class="form-group">
							<div class="alert alert-danger" role="alert"
					th:if="${#fields.hasErrors('whoChecked')}" th:errors="*{whoChecked}"></div>
				<label>Checked by: </label> <input type="text"
					class="form-control" th:field="*{whoChecked}">
			</div>







			<div class="btn-group d-flex p-2 justify-content-center" role="group">
				<input class="btn btn-success" type="submit" value="Submit">
				<a th:href="@{/showMonthlyProbe}" class="btn btn-warning float-right">Back</a>
			</div>







		</form>

	</div>

</body>
</html>