<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Hospitoolity</title>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="resources/css/home.css">
</head>
<body>
<div class="container col-lg-8 col-md-12 col-sm-12">

      <h1>Welcome to Hospitoolity - ultimate tool for hospitality.</h1>
        		
      					<div>
				Username: <span sec:authentication="name"></span>
						<a sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-secondary float-right">Login</a>
		<a sec:authorize="!isAnonymous()" th:href="@{/logout}" class="btn btn-secondary float-right">Logout</a>
			</div>
				
				<br>
				<br>
				
				
		<div class="border">
				<div class="d-flex p-2 justify-content-center"><h3>Book "Safer Food Better Business"</h3></div>
				
<div class="btn-group d-flex p-2 justify-content-center" role="group">
			<a th:href="@{/addBook}" class="btn btn-success d-flex p-2 justify-content-center">Fill up part 1</a>	
			<a th:href="@{/showBook}" class="btn btn-primary d-flex p-2 justify-content-center">Show or edit part 1</a>	
</div>			

<div class="btn-group d-flex p-2 justify-content-center" role="group">
<a th:href="@{/addBook2}" class="btn btn-success d-flex p-2 justify-content-center">Fill up part 2</a>	
	<a th:href="@{/showBook2}" class="btn btn-primary d-flex p-2 justify-content-center">Show or edit part 2</a>	
</div>		
		</div>


		<div class="border">
				<div class="d-flex p-2 justify-content-center"><h3>Temperature fridge log</h3></div>
				
<div class="btn-group d-flex p-2 justify-content-center" role="group">
		<a th:href="@{/addTemperature}" class="btn btn-success">Add a new</a>				
		<a th:href="@{/showTemperatureFromPastMonth/}" class="btn btn-primary">Past month</a>		
		<a th:href="@{/showTemperature}" class="btn btn-info">All data</a>	
</div>			

		</div>


		<div class="border">
				<div class="d-flex p-2 justify-content-center"><h3>Temperature freezer log</h3></div>
				
<div class="btn-group d-flex p-2 justify-content-center" role="group">
	<a th:href="@{/addFreezerTemperature}" class="btn btn-success">Add a new</a>				
		<a th:href="@{/showFreezerTemperatureFromPastMonth/}" class="btn btn-primary">Past month</a>		
		<a th:href="@{/showFreezerTemperature}" class="btn btn-info">All data</a>	
</div>			

		</div>
		
				<div class="border">
				<div class="d-flex p-2 justify-content-center"><h3>Opening checks log</h3></div>
				
<div class="btn-group d-flex p-2 justify-content-center" role="group">
	<a th:href="@{/addOpening}" class="btn btn-success">Add a new</a>				
		<a th:href="@{/showOpeningFromPastMonth/}" class="btn btn-primary">Past month</a>		
		<a th:href="@{/showOpening}" class="btn btn-info">All data</a>	
</div>			

		</div>
		
				<div class="border">
				<div class="d-flex p-2 justify-content-center"><h3>Closing checks log</h3></div>
				
<div class="btn-group d-flex p-2 justify-content-center" role="group">
	<a th:href="@{/addClosing}" class="btn btn-success">Add a new</a>				
		<a th:href="@{/showClosingFromPastMonth/}" class="btn btn-primary">Past month</a>		
		<a th:href="@{/showClosing}" class="btn btn-info">All data</a>	
</div>			

		</div>	
		
		
						<div class="border">
				<div class="d-flex p-2 justify-content-center"><h3>Cleaning log</h3></div>
				
<div class="btn-group d-flex p-2 justify-content-center" role="group">
	<a th:href="@{/addCleaning}" class="btn btn-success">Add a new</a>				
		<a th:href="@{/showCleaningFromPastMonth/}" class="btn btn-primary">Past month</a>		
		<a th:href="@{/showCleaning}" class="btn btn-info">All data</a>	
</div>			

		</div>		
		
		
								<div class="border">
				<div class="d-flex p-2 justify-content-center"><h3>'Prove It' log</h3></div>
				
<div class="btn-group d-flex p-2 justify-content-center" role="group">
	<a th:href="@{/addProveIt}" class="btn btn-success">Add a new</a>				
		<a th:href="@{/showProveItFromPastMonth/}" class="btn btn-primary">Past month</a>		
		<a th:href="@{/showProveIt}" class="btn btn-info">All data</a>	
</div>			

		</div>		
		
				<div class="border">
				<div class="d-flex p-2 justify-content-center"><h3>Training record log</h3></div>
				
<div class="btn-group d-flex p-2 justify-content-center" role="group">
	<a th:href="@{/addTrainingRecord}" class="btn btn-success">Add a new</a>				
		<a th:href="@{/showTrainingRecordFromPastMonth/}" class="btn btn-primary">Past month</a>		
		<a th:href="@{/showTrainingRecord}" class="btn btn-info">All data</a>	
</div>


				<div class="border">
				<div class="d-flex p-2 justify-content-center"><h3>Delivery record</h3></div>
				
<div class="btn-group d-flex p-2 justify-content-center" role="group">
	<a th:href="@{/addDeliveryRecord}" class="btn btn-success">Add a new</a>				
		<a th:href="@{/showDeliveryRecordFromPastMonth/}" class="btn btn-primary">Past month</a>		
		<a th:href="@{/showDeliveryRecord}" class="btn btn-info">All data</a>	
</div>


				<div class="border">
				<div class="d-flex p-2 justify-content-center"><h3>Problem or changes log</h3></div>
				
<div class="btn-group d-flex p-2 justify-content-center" role="group">
	<a th:href="@{/addProblem}" class="btn btn-success">Add a new</a>				
		<a th:href="@{/showProblemFromPastMonth/}" class="btn btn-primary">Past month</a>		
		<a th:href="@{/showProblem}" class="btn btn-info">All data</a>	
</div>


						<div class="border">
				<div class="d-flex p-2 justify-content-center"><h3>Monthly probe thermometer check</h3></div>
				
<div class="btn-group d-flex p-2 justify-content-center" role="group">
	<a th:href="@{/addMonthlyProbe}" class="btn btn-success">Add a new</a>				
		<a th:href="@{/showMonthlyProbe}" class="btn btn-info">All data</a>	
</div>		

						<div class="border">
				<div class="d-flex p-2 justify-content-center"><h3>Monthly review</h3></div>
				
<div class="btn-group d-flex p-2 justify-content-center" role="group">
	<a th:href="@{/addMonthlyReview}" class="btn btn-success">Add a new</a>				
		<a th:href="@{/showMonthlyReview}" class="btn btn-info">All data</a>	
</div>		
		
						<div class="border">
				<div class="d-flex p-2 justify-content-center"><h3>Cleaning Schedule</h3></div>
				
<div class="btn-group d-flex p-2 justify-content-center" role="group">
	<a th:href="@{/addCleaningSchedule}" class="btn btn-success">Add a new</a>				
		<a th:href="@{/showCleaningSchedule}" class="btn btn-info">All data</a>	
</div>			

		</div>		
		
		
			</div>	
		
				<div class="border">
				<div class="d-flex p-2 justify-content-center"><h3>Suppliers list</h3></div>
				
<div class="btn-group d-flex p-2 justify-content-center" role="group">
	<a th:href="@{/addSuppliersList}" class="btn btn-success">Add a new</a>				
		<a th:href="@{/showSuppliersList}" class="btn btn-info">All suppliers</a>	
</div>			

		</div>		
		
				<div class="border">
				<div class="d-flex p-2 justify-content-center"><h3>Contacts list</h3></div>
				
<div class="btn-group d-flex p-2 justify-content-center" role="group">
	<a th:href="@{/addContactsList}" class="btn btn-success">Add a new</a>				
		<a th:href="@{/showContactsList}" class="btn btn-info">All contacts</a>	
</div>			

		</div>			










		</div>
		



	

</body>
</html>