<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Closing form page</title>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
	<div class="container col-lg-6 col-md-12 col-sm-12">
	<div class="text-center">

	<h1>Closing form:</h1></div>
	
	
	
	
	
	
	
	<form action="#" th:action="@{/processClosingForm}" th:object="${closing}" method="post">
	
	
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{id}">
					</div>
						
		<div class="form-group">
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
					<label>Date: </label>
			<input type="date" class="form-control" th:field="*{date}">
		</div>
			
			
			
			<div class="form-group">
				<label>Your fridges, chilled display equipment and freezers are working properly.</label>
			<input type="checkbox" class="form-control" th:field="*{closingFormQuestion1}">
		</div>
		
					<div class="form-group">
				<label>Your other equipment (e.g. oven) is working properly.</label>
			<input type="checkbox" class="form-control" th:field="*{closingFormQuestion2}">
		</div>
	
					<div class="form-group">
				<label>Food preparation areas are clean and disinfected (work surfaces, equipment, utensils, etc.).</label>
			<input type="checkbox" class="form-control" th:field="*{closingFormQuestion3}">
		</div>
		
					<div class="form-group">
				<label>All areas are free from evidence of pest activity.</label>
			<input type="checkbox" class="form-control" th:field="*{closingFormQuestion4}">
		</div>
		
					<div class="form-group">
				<label>There are plenty of handwashing and cleaning materials (soap, paper towels, sanitiser, etc.). </label>
			<input type="checkbox" class="form-control" th:field="*{closingFormQuestion5}">
		</div>
		
					<div class="form-group">
				<label>Hot running water is available at all sinks and hand wash basins.</label>
			<input type="checkbox" class="form-control" th:field="*{closingFormQuestion6}">
		</div>
		
					<div class="form-group">
				<label>Probe thermometer is working and probe wipes are available.</label>
			<input type="checkbox" class="form-control" th:field="*{closingFormQuestion7}">
		</div>
		
					<div class="form-group">
				<label>Allergen information is accurate for all items on sale. </label>
			<input type="checkbox" class="form-control" th:field="*{closingFormQuestion8}">
		</div>
		
					<div class="form-group">
				<label>Staff are fit for work and wearing clean work clothes.</label>
			<input type="checkbox" class="form-control" th:field="*{closingFormQuestion9}">
		</div>
		
		
		
		
			
	<div class="form-group">
			<label>Other closing checks: </label>
			<input type="text" class="form-control" th:field="*{otherClosingChecks}">
		</div>
		
		<div class="form-group">
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('whoCheckedClosing')}" th:errors="*{whoCheckedClosing}"></div>
			<label>Name: </label>
			<input type="text" class="form-control" th:field="*{whoCheckedClosing}">
		</div>
		
	
		
		
		
		<div class="btn-group d-flex p-2 justify-content-center" role="group">
			<input class="btn btn-success" type="submit" value="Submit">
			<a th:href="@{/showClosing}" class="btn btn-warning float-right">Back</a>
</div>			
		
		
					
		
					
					
					
				</form>
			
</div>

</body>
</html>