<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Monthly Review record page</title>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
	<div class="container col-lg-6 col-md-12 col-sm-12">
	<div class="text-center">

	<h1>Monthly Review record.</h1></div>
	<h3>Take some time to walk around the kitchen and observe whether safe methods are being 
followed. Write details of any problems below and what you did about it. 
Also look back over the past 4 weeks’ diary entries. If you had a serious problem, or the same thing went wrong three 
times or more, make a note of it here, find out why and record what you did to resolve it. 
Please remember: this review requires completion even if no problems have been found. </h3>
	
	
	
	
	
	
	<form action="#" th:action="@{/processMonthlyReviewForm}" th:object="${monthlyReview}" method="post">
	
	
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{id}">
					</div>
					
							
		<div class="form-group">
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
					<label>Date: </label>
			<input type="date" class="form-control" th:field="*{date}">
		</div>
				
		<div class="form-group">
					<label>Did you observe any problems or did the same issue occur in the diary three times or more?</label>
			<input type="checkbox" class="form-control" th:field="*{reviewFormQuestion1}">
		</div>

		<div class="form-group">
					<label>Details: </label>
			<input type="text" class="form-control" th:field="*{details}">
		</div>
		
				<div class="form-group">
					<label>What did you do about it? </label>
			<input type="text" class="form-control" th:field="*{whatYouDid}">
		</div>
		
		
				
				<div class="form-group">
					<label>Have you reviewed your safe methods? </label>
			<input type="checkbox" class="form-control" th:field="*{reviewFormQuestion2}">
		</div>
		
		<div class="form-group">
					<label>Has allergen information been updated to reflect any menu or ingredient changes?  </label>
			<input type="checkbox" class="form-control" th:field="*{reviewFormQuestion3}">
		</div>
		
		
						<div class="form-group">
					<label>Have you changed any equipment or processes which change your safe methods? </label>
			<input type="checkbox" class="form-control" th:field="*{reviewFormQuestion4}">
		</div>
		
		<div class="form-group">
					<label>Have any new suppliers been recorded with contact information? </label>
			<input type="checkbox" class="form-control" th:field="*{reviewFormQuestion5}">
		</div>
		
		
						<div class="form-group">
					<label>Does the cleaning schedule require updating?  </label>
			<input type="checkbox" class="form-control" th:field="*{reviewFormQuestion6}">
		</div>
		
		<div class="form-group">
					<label>Have new staff (if applicable) been trained in all safe methods?  </label>
			<input type="checkbox" class="form-control" th:field="*{reviewFormQuestion7}">
		</div>
		
		
						<div class="form-group">
					<label>Do any existing staff require safe method refresher training?</label>
			<input type="checkbox" class="form-control" th:field="*{reviewFormQuestion8}">
		</div>
		
		<div class="form-group">
					<label>Are any extra opening or closing checks required? </label>
			<input type="checkbox" class="form-control" th:field="*{reviewFormQuestion9}">
		</div>
		
		
						<div class="form-group">
					<label>If any food complaints have been received, have they been investigated and safe methods reviewed?  </label>
			<input type="checkbox" class="form-control" th:field="*{reviewFormQuestion10}">
		</div>
		
		<div class="form-group">
					<label>Have probes been calibrated in the last 4 weeks and results recorded?  </label>
			<input type="checkbox" class="form-control" th:field="*{reviewFormQuestion11}">
		</div>
		
		
						<div class="form-group">
					<label>Have extra checks been completed and recorded weekly? </label>
			<input type="checkbox" class="form-control" th:field="*{reviewFormQuestion12}">
		</div>
		
		<div class="form-group">
					<label>Are prove it checks being completed regularly and recorded?  </label>
			<input type="checkbox" class="form-control" th:field="*{reviewFormQuestion13}">
		</div>		
		
		
		
		
		
				<div class="form-group">
					<label>Additional info: </label>
			<input type="text" class="form-control" th:field="*{additionalDetails}">
		</div>
		
		
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('whoChecked')}" th:errors="*{whoChecked}"></div>
					<label>Your name: </label>
			<input type="text" class="form-control" th:field="*{whoChecked}">
		</div>		
				
		
		
		
		
		<div class="btn-group d-flex p-2 justify-content-center" role="group">
			<input class="btn btn-success" type="submit" value="Submit">
			<a th:href="@{/showMonthlyReview}" class="btn btn-warning float-right">Back</a>
</div>			
		
		
					
		
					
					
					
				</form>
			
</div>

</body>
</html>